html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #E1E1E1;
}
.preview-container, .result-container {
    width: 300px;
    height: 300px;
    background-color: #FFF;
    margin: 0 auto 20px auto;
}
.controls {
    text-align: center;
}
.result-container {
    position: relative;
}
.loader {
    position: absolute;
    background-color: #FFF;
    top: 0;
    bottom: 0;
    width: 100%;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.loader.hidden {
    display: none;
}
.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #000;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
      }
}

.auto-image {
    width: auto;
}